@import "../../style/base.scss";

.main-container {
  font-family: $detail-font;
  @include apply-at-sm-size {
    display: block;
  }

  button {
    margin-top: 20px;
  }

  .detail-container {
    display: flex;
    margin-top: 40px;
    gap: 50px;

    @include apply-at-sm-size {
      display: block;
    }

    .image-wrapper {
      @include flexCenterXY;

      > img {
        width: 555px;
        height: 400px;

        @include apply-at-sm-size {
          width: 330 px;
          height: 238px;
        }
      }
    }
    .main-detail {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;

      .detail-wrapper {
        margin-top: 35px;
        padding: 10px;

        .detail {
          display: flex;
          gap: 10px;
          grid-template-areas: "one two two";
          margin-bottom: 20px;

          @include apply-at-sm-size {
            display: block;
          }

          .detail-one {
            width: 250px;

            .value-wrapper {
              display: flex;
            }

            .value {
              color: #00000080;
            }
          }

          .detail-two {
            width: 250px;
          }

          .borders {
            button {
              background-color: red;
            }
          }
        }
      }
    }
  }
}
